* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;

  font-family: 'Lato', sans-serif;

  user-select: none;
  list-style: none;
}

.container {
  width: 1200px;

  margin:0 auto;
}

.charts {
  display: flex;
}

.lineChart {
  /* height: 80px; */
  width: 50%;
  border: 1px solid gray;
  padding: 10px;
}

.doughnutChart {
  width: 50%;
  border: 1px solid gray;
  border-left: none;
  padding: 10px;
}
